<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="mtcm_site" label="COM_MINITHEATRECM_DICTIONARY_SITE" description="COM_MINITHEATRECM_DESCRIPTION_SITE">
	
		<field type="note"
			label="COM_MINITHEATRECM_DICTIONARY_PERMISSIONS"
			description="COM_MINITHEATRECM_DESCRIPTION_SITEPERMS"/>
			
		<field name="submission_access" type="usergrouplist"
			label="COM_MINITHEATRECM_DICTIONARY_UPLOADER"
			description="COM_MINITHEATRECM_DESCRIPTION_ACCESSFEATURE"
			checksuperusergroup="1" multiple="true" default="2"/>
			
	</fieldset>	
	<fieldset name="mtcm_system" label="COM_MINITHEATRECM_DICTIONARY_SYSTEM" description="COM_MINITHEATRECM_DESCRIPTION_SYSTEM">
	
		<field type="note"
			label="COM_MINITHEATRECM_DICTIONARY_DEBUG"
			description="COM_MINITHEATRECM_DESCRIPTION_DEBUG" />
			
		<field
			name="debug_manager" type="radio" default="0"
			label="COM_MINITHEATRECM_DICTIONARY_MANAGER"
			description="COM_MINITHEATRECM_DESCRIPTION_DEBUGSECTION"
			class="btn-group btn-group-yesno"
			checksuperusergroup="1" >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		
	</fieldset>
	<fieldset name="mtcm_admin" label="COM_MINITHEATRECM_DICTIONARY_ADMIN" description="COM_MINITHEATRECM_DESCRIPTION_ADMIN">
	
		<field
			name="default_view" type="viewlist" default="dashboard"
			label="COM_MINITHEATRECM_DICTIONARY_DEFAULTVIEW"
			description="COM_MINITHEATRECM_DESCRIPTION_DEFAULTVIEW"
			menuitems="true" 
			extension="com_minitheatrecm" 
			checksuperusergroup="1" />
		<!--TODO above field-->
		<!--Add dashboard related options here-->
		
	</fieldset>
	<fieldset name="mtcm_manager" label="COM_MINITHEATRECM_DICTIONARY_MANAGER" description="COM_MINITHEATRECM_DESCRIPTION_MANAGER">
	
		<field type="note"
			label="COM_MINITHEATRECM_DICTIONARY_GUIDE"
			description="COM_MINITHEATRECM_DESCRIPTION_MANAGERTIPS"/>
	
		<field
			name="mgguide_enabled" type="radio" default="0"
			label="COM_MINITHEATRECM_DICTIONARY_ENABLED"
			description="COM_MINITHEATRECM_DESCRIPTION_ENABLED"
			class="btn-group btn-group-yesno"
			checksuperusergroup="1" >
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		
		<field
			name="mgguide_sticky" type="radio" default="0"
			label="COM_MINITHEATRECM_DICTIONARY_STICKY"
			description="COM_MINITHEATRECM_DESCRIPTION_STICKY"
			class="btn-group btn-group-yesno"
			checksuperusergroup="1" showon="mgguide_enabled:1" >
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	
		<field type="note"
			label="COM_MINITHEATRECM_DICTIONARY_FILTERING"
			description="COM_MINITHEATRECM_DESCRIPTION_STRICTFILTER"/>
	
		<field
			name="filter_genres" type="radio" default="0"
			label="COM_MINITHEATRECM_DICTIONARY_GENRES"
			description="COM_MINITHEATRECM_DESCRIPTION_STRICTFILTER"
			class="btn-group btn-group-yesno" >
			<option value="1">COM_MINITHEATRECM_DICTIONARY_STRICT</option>
			<option value="0">COM_MINITHEATRECM_DICTIONARY_SPANNED</option>
		</field>
		
		<field
			name="filter_producers" type="radio" default="0"
			label="COM_MINITHEATRECM_DICTIONARY_PRODUCERS"
			description="COM_MINITHEATRECM_DESCRIPTION_STRICTFILTER"
			class="btn-group btn-group-yesno" >
			<option value="1">COM_MINITHEATRECM_DICTIONARY_STRICT</option>
			<option value="0">COM_MINITHEATRECM_DICTIONARY_SPANNED</option>
		</field>
		
		<field
			name="filter_licensors" type="radio" default="0"
			label="COM_MINITHEATRECM_DICTIONARY_LICENSORS"
			description="COM_MINITHEATRECM_DESCRIPTION_STRICTFILTER"
			class="btn-group btn-group-yesno" >
			<option value="1">COM_MINITHEATRECM_DICTIONARY_STRICT</option>
			<option value="0">COM_MINITHEATRECM_DICTIONARY_SPANNED</option>
		</field>
		
		<field
			name="filter_studios" type="radio" default="0"
			label="COM_MINITHEATRECM_DICTIONARY_STUDIOS"
			description="COM_MINITHEATRECM_DESCRIPTION_STRICTFILTER"
			class="btn-group btn-group-yesno" >
			<option value="1">COM_MINITHEATRECM_DICTIONARY_STRICT</option>
			<option value="0">COM_MINITHEATRECM_DICTIONARY_SPANNED</option>
		</field>
	
		<field type="spacer" hr="true"/>
		
		<field type="note"
			label="COM_MINITHEATRECM_DICTIONARY_LINKS"
			description="COM_MINITHEATRECM_DESCRIPTION_MANAGERLINKS" />
			
		<field
			name="links_user" type="radio" default="0"
			label="COM_MINITHEATRECM_DICTIONARY_USERS"
			description="COM_MINITHEATRECM_DESCRIPTION_MANAGERLINKS"
			class="btn-group btn-group-yesno" >
			<option value="1">COM_MINITHEATRECM_DICTIONARY_HYPERLINK</option>
			<option value="0">COM_MINITHEATRECM_DICTIONARY_PLAINTEXT</option>
		</field>
		
		<field
			name="links_access" type="radio" default="0"
			label="COM_MINITHEATRECM_DICTIONARY_ACCESSGROUPS"
			description="COM_MINITHEATRECM_DESCRIPTION_MANAGERLINKS"
			class="btn-group btn-group-yesno" >
			<option value="1">COM_MINITHEATRECM_DICTIONARY_HYPERLINK</option>
			<option value="0">COM_MINITHEATRECM_DICTIONARY_PLAINTEXT</option>
		</field>
		
		<field
			name="links_catalogue" type="radio" default="0"
			label="COM_MINITHEATRECM_DICTIONARY_CATALOGUES"
			description="COM_MINITHEATRECM_DESCRIPTION_MANAGERLINKS"
			class="btn-group btn-group-yesno" >
			<option value="1">COM_MINITHEATRECM_DICTIONARY_HYPERLINK</option>
			<option value="0">COM_MINITHEATRECM_DICTIONARY_PLAINTEXT</option>
		</field>
		
		<field
			name="links_franchise" type="radio" default="0"
			label="COM_MINITHEATRECM_DICTIONARY_FRANCHISES"
			description="COM_MINITHEATRECM_DESCRIPTION_MANAGERLINKS"
			class="btn-group btn-group-yesno" >
			<option value="1">COM_MINITHEATRECM_DICTIONARY_HYPERLINK</option>
			<option value="0">COM_MINITHEATRECM_DICTIONARY_PLAINTEXT</option>
		</field>
		
		<field
			name="links_genre" type="radio" default="0"
			label="COM_MINITHEATRECM_DICTIONARY_GENRES"
			description="COM_MINITHEATRECM_DESCRIPTION_MANAGERLINKS"
			class="btn-group btn-group-yesno" >
			<option value="1">COM_MINITHEATRECM_DICTIONARY_HYPERLINK</option>
			<option value="0">COM_MINITHEATRECM_DICTIONARY_PLAINTEXT</option>
		</field>
		
		<field
			name="links_ctype" type="radio" default="0"
			label="COM_MINITHEATRECM_DICTIONARY_CONTENTTYPES"
			description="COM_MINITHEATRECM_DESCRIPTION_MANAGERLINKS"
			class="btn-group btn-group-yesno" >
			<option value="1">COM_MINITHEATRECM_DICTIONARY_HYPERLINK</option>
			<option value="0">COM_MINITHEATRECM_DICTIONARY_PLAINTEXT</option>
		</field>
		
	</fieldset>
	<fieldset name="mtcm_cache" label="COM_MINITHEATRECM_DICTIONARY_CACHE" description="COM_MINITHEATRECM_DESCRIPTION_CACHE">
	
		<field type="note"
			label="COM_MINITHEATRECM_DICTIONARY_UPDATEINTERVAL"
			description="COM_MINITHEATRECM_DESCRIPTION_TICKS" />
		
		<field
			name="ticks_catalogues" type="number"
			min="1" max="999999" default="100"
			label="COM_MINITHEATRECM_DICTIONARY_CATALOGUES"
			description="COM_MINITHEATRECM_DESCRIPTION_TICKS" />
			
		<field
			name="ticks_franchises" type="number"
			min="1" max="999999" default="100"
			label="COM_MINITHEATRECM_DICTIONARY_FRANCHISES"
			description="COM_MINITHEATRECM_DESCRIPTION_TICKS" />
			
		<field
			name="ticks_listings" type="number"
			min="1" max="999999" default="100"
			label="COM_MINITHEATRECM_DICTIONARY_LISTINGS"
			description="COM_MINITHEATRECM_DESCRIPTION_TICKS" />
			
		<field
			name="ticks_reviews" type="number"
			min="1" max="999999" default="100"
			label="COM_MINITHEATRECM_DICTIONARY_REVIEWS"
			description="COM_MINITHEATRECM_DESCRIPTION_TICKS" />
			
		<field
			name="ticks_genres" type="number"
			min="1" max="999999" default="100"
			label="COM_MINITHEATRECM_DICTIONARY_GENRES"
			description="COM_MINITHEATRECM_DESCRIPTION_TICKS" />
			
	</fieldset>
	<fieldset
		name="permissions"
		label="COM_MINITHEATRECM_DICTIONARY_PERMISSIONS"
		description="COM_MINITHEATRECM_DESCRIPTION_COMACL" >
		
		<field
			name="rules" type="rules"
			label="COM_MINITHEATRECM_DICTIONARY_PERMISSIONS"
			class="inputbox" validate="rules" filter="rules"
			section="component" component="com_minitheatrecm" />
			
	</fieldset>	
</config>